/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body{
	
	position:relative;
}

.asteroid{
	background-image: url('asteroid.png');
	background-size: 100%;
	position: absolute;
}

.scoreboard{
	width: 250px;
	height: 100px;
	position: absolute;
	top: 20px;
	right: 0px;
	z-index: 100;
	padding: 5;
	float:right;
}


.scoreboard div{
	line-height: 35px;
	font-size: 20px;
}

.player {
	background-color: purple;
	border-radius: 15px;
	position: absolute;
}

